@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&display=swap');
*{
    padding:0;
    margin:0;
    outline:none;
}

/* Variables */

:root{
    --header-height:3rem;
    --main-color:#cs02da;
    --second-color:#52448
    --main-gradient:linear-gradient(90deg, rgba(59,0,0,1) 0%, rgba(121,0,0,1) 35%, rgba(205,0,0,1) 100%);
    --dark-bg:#000000
    --main-color-alt:#457771
    --text-color:white
    
}